/* Base Styles */
h2 {
  font-size: 3em; /* 54px / 18px = 3em */
  font-weight: bold;
  font-style: italic;
  overflow-wrap: break-word;
  padding-bottom: .5em;
}
section {
  display: grid;
  padding: 1em;
  margin: 1em;
}
figcaption {
  line-height: 120%;
  padding-top: 1em
}

/* Layout Styles */
#cert-container img {
  width: 30%;
}
#cert-container figure{
  margin: 1em;
}

/* State styles */
/* 540px || 540 / 16 = 33.75em */
@media screen and (min-width: 33.75em) {
  #cert-container figure {
    padding-bottom: 1.5em;
  }
}

/* 1080px || 1080 / 16 = 67.5em */
@media screen and (min-width: 67.5em) {
  figcaption {
    font-size: 1.35em; /* 24.3px / 18px = 1.35em */
    padding-top: 1em
  }
  #cert-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
  }
  #cert-container h2 {
    grid-column: 1 / 4; /* Span h2 over all columns */
  }
}
