h2 {
  font-size: 3em; /* 54px / 18px = 3em */
  font-weight: bold;
  font-style: italic;
  overflow-wrap: break-word;

}

section {
  padding: 1em;
  margin: 1em;
}

#project-index a:link,
#project-index a:visited {
  color: #0085ee;
}

#project-index a:link:hover,
#project-index a:link:active,
#project-index a:visited:hover {
  color: white;
  font-size: 125%;
}

ol {
  line-height:1.5em;
}

/* Layout Styles */
#projectDetails h2 {
	padding-bottom: .5em;
}
#projectDetails h3 {
  font-size: 2em;
}
#project-index {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}
#project-index h2 {
	grid-column: 1 / 3; /* Span h2 over all columns */
}

.project-category {
  background: #FACC43;
  box-sizing: border-box;
	color: black;
  margin: 1em;
}

.project-details {
  border: .5em solid white; /* 9px / 18px = .5em */
  margin-bottom: 1em;
}

/* State styles */
/* 540px || 540 / 16 = 33.75em */
@media screen and (min-width: 33.75em) {
  #project-index{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  #project-index h2 {
    grid-column: 1 / 3; /* Span h2 over all columns */
  }

}

/* 1080px || 1080 / 16 = 67.5em */
@media screen and (min-width: 67.5em) {
  /* Competition page */
  #project-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
  }
  #project-index h2 {
    grid-column: 1 / 4; /* Span h2 over all columns */
  }

  p, ol {
    font-size: 1.15em;
  }
}

/* Link button */
.projectLink {
	--uiaiElementDisplay: var(--aiElementDisplay, inline-flex);
	--uiaiElementPadding: var(--aiElementPadding, var(--aiElementPaddingTop, 0) var(--aiElementPaddingRight, 0) var(--aiElementPaddingBottom, 0) var(--aiElementPaddingLeft, 0));
	--uiaiElementColor: var(--aiElementColor);
	--uiaiElementLineColor: var(--aiElementLineColor, #000);
	--uiaiElementPadding: var(--aiElementPadding, 10px);
	transition: color .3s ease-out;
	z-index: 1;
	display: var(--uiaiElementDisplay);
	position: relative;
	overflow: hidden;
	--aiElementLineWeight: 5px;
	--aiElementLineColor: #26d9d9;
	--aiElementColor: #1b255a;
	--aiElementColorHover: #26d9d9;
	--aiElementPadding: 10px 15px;
	--aiElementColor: #fff;
  width: 30%;
}

a.projectLink {
	padding: var(--uiaiElementPadding);
}

button.projectLink {
	--rButtonPadding: var(--uiaiElementPadding);
}

.projectLink__label {
	color: var(--uiaiElementColor);
  text-align: center;
  width: -webkit-fill-available;
	--uiaiElementColorHover: var(--aiElementColorHover);
	font-weight: 700;
	text-transform: uppercase;
}

.projectLink::before,
.projectLink::after {
	content: "";
	background-color: var(--uiaiElementLineColor);
	opacity: 1;
	position: absolute;
	z-index: -1;
	width: 51%;
	height: 100%;
	top: 0;
	transform: translate3d(0, 0, 0);
	transition: transform .35s ease-out, opacity .35s ease-out .03s;
}

.projectLink:hover::before,
.projectLink:hover::after {
	opacity: 0;
	transition-delay: 0s;
}

/* EFFECTS */

.projectLink::before {
	left: 0;
}

.projectLink::after {
	right: 0;
}

.projectLink:hover::before {
	transform: translate3d(-100%, 0, 0) rotate(-45deg);
}

.projectLink:hover::after {
	transform: translate3d(100%, 0, 0) rotate(-45deg);
}

.projectLink:hover .projectLink__label {
	color: var(--uiaiElementColorHover);
}
